@import url('https://fonts.cdnfonts.com/css/earth-orbiter?styles=32385,32390,32391,32404,32416');

@font-face {
    font-family: 'Deacon Blues';
    src: url('/fonts/deaconblues.ttf') format('truetype')
}

@font-face {
    font-family: 'Deacon Half';
    src: url('/fonts/deaconblueshalf.ttf') format('truetype')
}

@font-face {
    font-family: 'Deacon Half Chrome';
    src: url('/fonts/deaconblueschrome.ttf') format('truetype')
}

* {
    font-family: 'Earth Orbiter', sans-serif;
}

.font-bold {
    font-family: 'Earth Orbiter Bold';
}

.font-italic {
    font-family: 'Earth Orbiter Italic';
}

.font-extra-bold {
    font-family: 'Earth Orbiter Extra-Bold';
}

.deaconBlue {
    font-family: 'Deacon Blues', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.deaconHalf {
    font-family: 'Deacon Half', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.deaconHalfChrome {
    font-family: 'Deacon Half Chrome', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.title {
    color: white;
    text-shadow: 0 0 10px #eeeeee, 0 0 5px #E384FF, 0 0 10px #E384FF, 0 0 10px #E384FF,
        0 0 0px #E384FF, 0 0 0px #E384FF, 0 0 0px #E384FF;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.label-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid white;
}

.label-slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    border: 1px solid white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.label-slider {
    /* background-color: #865DFF; */
    border-color:  #865DFF;
}
input:checked+.label-slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}